{
	"timeout": 10,
	"source": {
		"directories": [
			"src"
		]
	},
	"logs": {
		"text": "infection.log"
	},
	"mutators": {
		"@default": true,
		"Assignment": {
			"ignore": [
				"SignpostMarv\\DaftMarkup\\Markup::MarkupArrayContentToMarkupString",
				"SignpostMarv\\DaftMarkup\\Markup::MarkupCollectionToMarkupString"
			]
		},
		"CastArray": {
			"ignore": [
				"SignpostMarv\\DaftMarkup\\Markup::MarkupArrayContentToMarkupString",
				"SignpostMarv\\DaftMarkup\\Markup::MarkupArrayToMarkupString"
			]
		},
		"CastString": {
			"ignore": [
				"SignpostMarv\\DaftMarkup\\Markup::MarkupCollectionToMarkupString"
			]
		},
		"Coalesce": {
			"ignore": [
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::CoalesceToArray"
			]
		},
		"LogicalNot": {
			"ignore": [
				"SignpostMarv\\DaftMarkup\\MarkupUtilities::FilterDOMAttrGeneralAttrWhitelist",
				"SignpostMarv\\DaftMarkup\\MarkupUtilities::FilteredArrayFromDOMNamedNodeMap"
			]
		},
		"ProtectedVisibility": {
			"ignore": [
				"SignpostMarv\\DaftMarkup\\AbstractHtmlElement::GroupedAttributes",
				"SignpostMarv\\DaftMarkup\\AbstractHtmlElement::MarkupAttributesPostProcess",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::CoalesceToArray",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::HeadContentMarkupArray",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::MarkupContentDoctype",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::MaybeDecorateAttrs",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::MaybeDecorateAttrsStylesheet",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::MaybeDecoratePreloadAttrs",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::MaybeDecorateScriptAttrs",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::PreloadsToMarkupArrayMapper",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::ScriptsToMarkupArrayMapper",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::StylesheetsToMarkupArrayMapper",
				"SignpostMarv\\DaftMarkup\\Html\\Document::GetPossibleHeadersMapper",
				"SignpostMarv\\DaftMarkup\\Html\\Document::StylesheetsToMarkupArrayMapper",
				"SignpostMarv\\DaftMarkup\\Markup::ElementNodeToMarkupArrayIfPassedFilter",
				"SignpostMarv\\DaftMarkup\\Markup::FilterDOMNodeList",
				"SignpostMarv\\DaftMarkup\\Markup::MarkupArrayContentToMarkupString",
				"SignpostMarv\\DaftMarkup\\Markup::MarkupCollectionFilter",
				"SignpostMarv\\DaftMarkup\\Markup::NodeListToContent",
				"SignpostMarv\\DaftMarkup\\MarkupUtilities::FilterDOMAttr",
				"SignpostMarv\\DaftMarkup\\MarkupUtilities::FilterDOMAttrGeneralAttrWhitelist",
				"SignpostMarv\\DaftMarkup\\MarkupUtilities::FilterDOMAttrKeepElement",
				"SignpostMarv\\DaftMarkup\\MarkupUtilities::FilterDOMNamedNodeMapToAttrs",
				"SignpostMarv\\DaftMarkup\\MarkupValidator::MaybeThrowWhenValidatingMarkup",
				"SignpostMarv\\DaftMarkup\\MarkupValidator::ValidateContent",
				"SignpostMarv\\DaftMarkup\\MarkupValidator::ValidateMarkupAttributeValue",
				"SignpostMarv\\DaftMarkup\\MarkupValidator::ValidateMarkupAttributeArrayValue",
				"SignpostMarv\\DaftMarkup\\MarkupValidator::ValidateMarkupAttributeName"
			]
		},
		"PublicVisibility": {
			"ignore": [
				"SignpostMarv\\DaftMarkup\\AbstractHtmlElement::MarkupAttributes",
				"SignpostMarv\\DaftMarkup\\AbstractHtmlElement::ToMarkupArray",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::GetCharset",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::GetEnableIntegrityOnPreload",
				"SignpostMarv\\DaftMarkup\\Html\\AbstractHtmlDocument::includeJs",
				"SignpostMarv\\DaftMarkup\\Markup::ElementNodeToMarkupArray",
				"SignpostMarv\\DaftMarkup\\MarkupConverterTrait::GetMarkupConverter",
				"SignpostMarv\\DaftMarkup\\MarkupUtilities::FilteredArrayFromDOMNamedNodeMap",
				"SignpostMarv\\DaftMarkup\\MarkupValidator::ValidateMarkup"
			]
		}
	}
}
